#audio1 {
    margin-top: 1%;
    height: 24px;
    opacity: 0.5;
    position: relative;
    
}

#myVideo {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    width: max-content;
    height: max-content;
  }

.video1 {
    animation: fadeIn 8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}

body {
    background-color: black;
}

#body {
    
    animation: drop 4s forwards;
    border-radius: 5%;
    text-align: center;
}

button {
    width: 80%;
    height: 5%;
    font-size: 24px;
    opacity: 0.7;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px;
}

table {
    margin-top: 0%;
}

@keyframes drop {
    100% {
        transform: translateY(20%);
    }
}

#vilagbutton {
    background-image: url("htmlmedia/vilag.jpg");
    background-position: 30%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    backdrop-filter: blur 2px;
    opacity: 0.7;
}

#kasztokbutton {
    background-image: url("htmlmedia/kasztok.jpg");
    background-position: 10% 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    

}

#fajokbutton {
    background-image: url("htmlmedia/fajok.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    backdrop-filter: blur 2px;
    opacity: 0.7;


}

#egyebbutton {
    background-image: url("htmlmedia/egyeb.jpg");
    background-position: 70% 40%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    backdrop-filter: blur 2px;
    opacity: 0.7;

}

#gomb {
    color: rgb(0, 0, 0);
    font-size: 30px;
    opacity: 0.6;
    background-image: url("htmlmedia/indexwall.jpg");
    background-position: 70% 40%;
    background-size: 100%;
}

h4 {
    max-height: 36px;
    font-size: 20px;
    background-color: grey;
    width: 160px;
    border-radius: 8px;
    padding: 3px;
    display: inline-block;
    opacity: 0.8;
}

#lathatatlan {
    position: absolute;
    bottom: 0;
    opacity: 0;
}