
#myVideo {
    top: 0;
    left: 0;
    position: fixed;
    width: 300%;
    height: auto;
    z-index: -1;
    border-right: 500px;
  }

.video1 {
    animation: fadeIn 8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
    
}

body {
    background-color: black;
}

#body {
    
    animation: drop 4s forwards;
    border-radius: 5%;
    text-align: center;
}

button {
    width: 80%;
    padding: 20px;
    font-size: 24px;
    opacity: 0.8;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px;
}

table {
    margin-top: 0%;
}

@keyframes drop {
    100% {
        transform: translateY(30%);
    }
}

#vilagbutton {
    background-image: url("htmlmedia/vilag.jpg");
    background-position: 30%;
    color: darkblue;
    font-weight: bold;
}

#kasztokbutton {
    background-image: url("htmlmedia/kasztok.jpg");
    background-position: 10% 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: black;
    font-weight: bold;

}

#fajokbutton {
    background-image: url("htmlmedia/fajok.jpg");
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: darkgreen;
    font-weight: bold;

}

#egyebbutton {
    background-image: url("htmlmedia/egyeb.jpg");
    background-position: 70% 40%;
    background-repeat: no-repeat;
    background-size: 100%;
    color: red;
    font-weight: bold;


}

#gomb {
    background-color: grey;
    font-size: 30px;
}