


.buttons {
    position: static;
    padding: 6px 4px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    line-height: 1.25;
    background: #757171;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    letter-spacing: .08em;
    border: 1px;
    border-radius: 3px;
    width: 300px;
    height: 40px;
    opacity: 0.85;
  }

  body {
    text-align: center;
    position: relative;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    } 100% {
      opacity: 1;
    }
  }


table {
    position: fixed;
    background-color: white;
}

#buttonsdiv {
    background-color: white;
}

.mapbutton {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid rgb(245, 2, 2);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.mapbutton :nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  




#sirenar {
    margin-top: 1470px;
    margin-left: 530px;
}

#riegoy {
  margin-top: 1390px;
  margin-left: 750px;
}

#tarin {
  margin-top: 730px;
  margin-left: 1300px;
}

#doran {
  margin-top: 880px;
  margin-left: 1470px;
}

#gianag {
  margin-top: 790px;
  margin-left: 1390px;
}

#haonwell {
  margin-top: 780px;
  margin-left: 1490px;
}

#eren {
  margin-top: 870px;
  margin-left: 1400px;
}

#erigow {
  margin-top: 940px;
  margin-left: 1630px;
}

#ilanor {
  margin-top: 870px;
  margin-left: 1800px;
}

#tiadlan {
  margin-top: 1200px;
  margin-left: 2000px;
}

#dwyll {
  margin-top: 1140px;
  margin-left: 1550px;
}