#divek {
    opacity: 0.85;
    padding: 4px;
    border-color: black;
    border: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: beige;
    font-size: 10px;
    text-align: right;
}

#divszalagcim {
  opacity: 0.85;
  padding: 4px;
  border-color: black;
  border: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 10px;
  text-align: right;

  background: linear-gradient(-45deg, #c2adad, #0f0c0d, #525855, #41544d);
  background-size: 400%, 400%;
  animation: gradient 15s ease infinite;

}

tr {
  opacity: 0.85;
}

td {
  border-radius: 3px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-image: url("htmlmedia/ynev_poszter_lowres.jpg");
  background-size: 200%;
  background-position: center;
  backdrop-filter: blur(2px);
}

